h1 {
  height: calc(100px - 2em);
  width: calc(16px * 2);
  font-size: 48px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 40px;
}

h3 {
  font-size: 35px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  text-transform: uppercase;
}

$blue: #00c;

a.button {
  background: #ccc;

  &.small {
    background: $blue;
  }

  &.large {
    background: #888;
  }
}
